* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* HEADER STYLES */
body>header {
    background-color: #008170;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

header>img {
    height: auto;
    width: 120px;
}

header>article {
    display: flex;
    align-items: center;
}

header>article>img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-left: 10px;
}

header>article h3,
header>article h4 {
    color: #fff;
}

/* HEADER STYLES - END*/

/* MAIN STYLES */
main {
    display: flex;
    min-height: 450px;
}

/* MAIN STYLES - END*/

/* NAV STYLES */
main>nav {
    background-color: #00817093;
}

.dropdown {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.dropdown>div * {
    text-transform: uppercase;
    text-align: start;
    border: none;
    padding: 5px;
    font-weight: 600;
    /* color: #FBF9F1; */
}

.dropdown-label {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    /* justify-content: space-between; */
    /* background-color: red; */
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.15s ease-out;
    background-color: rgba(240, 248, 255, 0.788);
}

.dropdown-content.active {
    max-height: 200px;
    transition: max-height 0.25s ease-in;
}

.dropdown-content a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    padding-left: 26px;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    transition: 0.25s;
}

.dropdown-content a:hover {
    background-color: #008170;
    color: aliceblue;
}

.dropdown-btn,
.fa-sharp.fa-solid {
    color: gray;
    font-size: 14px;
    background-color: aliceblue;
    width: 30px;
}

.dropdown-btn {
    width: 160px;
}

/* NAV STYLES - END*/

/* SECTION STYLES */
main>section {
    background-color: #00817057;
    flex-grow: 1;
}

main>section .quick-assets-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;
    /* Sử dụng hết khoảng trống còn lại */
}


.quick-assets-container>article {
    /* background-color: red; */
    height: 80px;
    width: 100px;
    margin: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #fff;
}

.quick-assets-container>article a {
    text-decoration: none;
}

/* SECTION STYLES - END*/

/* ASDIE STYLES */
main>aside {
    background-color: #0081703d;
    width: 160px;
}

main aside * {
    font-size: small;
}

/* ASDIE STYLES - END*/