* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #66f2f2b8, #9174d799);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}