/* HEADER STYLES */
body>header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--fgColor-muted);
    box-shadow: inset 0 calc(var(--borderWidth-thin, 1px)* -1);
    background-color: var(--bgColor-black);
}

header>img {
    height: auto;
    width: 120px;
}

header>article {
    display: flex;
    align-items: center;
}

header>article>img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-left: 10px;
}

header>article h3,
header>article h4 {
    color: var(--fgColor-default);
}

/* HEADER STYLES - END*/